streamlit
torch==2.3.1
torchaudio==2.3.1
accelerate
datasets
transformers>=4.41.0
moviepy==1.0.3
imageio-ffmpeg
pydub
librosa==0.10.2.post1
soundfile
google-generativeai>=0.7.2
streamlit-mic-recorder
